<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XPTOISEP</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Menu Lateral -->
    <div class="sidebar" id="sidebar">
        <div class="container">
            <h4>Menu</h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="productsMenu">Produtos</a>
                    <!-- Exibe as categorias e subcategorias aqui -->
                    <ul class="nav flex-column ms-3" id="productsCategories" style="display:none;">
                        {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link" href="/?category_id={{ category[0] }}">{{ category[1] }}</a>
                                <!-- Exibir subcategorias dentro de cada categoria -->
                                <ul class="nav flex-column ms-3" id="subcategories-{{ category[0] }}" style="display:none;">
                                    {% for subcategory in subcategories %}
                                        {% if subcategory[3] == category[0] %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="/?subcategory_id={{ subcategory[0] }}">{{ subcategory[1] }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="servicesMenu">Serviços</a>
                    <ul class="nav flex-column ms-3" id="servicesCategories" style="display:none;">
                        <li class="nav-item"><a class="nav-link" href="#">Assistência Técnica</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Instalação</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Consultoria</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Ícone de Menu -->
    <button class="btn btn-outline-primary menu-toggle" id="menuToggle">&#9776;</button>

    <!-- Barra de navegação superior -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">XPTOISEP</a>
            <!-- Barra de pesquisa -->
            <form class="d-flex search-bar" action="/" method="GET">
                <input class="form-control me-2" type="search" placeholder="Pesquisar produtos" aria-label="Pesquisar" name="search_query">
                <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form>

            <!-- Login/Cadastro ou Nome do Usuário -->
            <div class="ml-auto">
                {% if user_logged_in %}
                    <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#profileModal">
                        {{ user_name }}
                    </a>
                    <a href="/logout" class="btn btn-outline-danger">Sair</a>
                    {% if user_role == 'delivery order manager' %}
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#orderLocationModal">
                            Localizar Ordens
                        </button>
                    {% endif %}
                {% else %}
                    <!-- Login/Cadastro modal trigger -->
                    <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginRegisterModal">Login/Cadastrar</a>
                {% endif %}
                    <!-- Botão de visualizar o carrinho -->
                <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#cartModal">
                    Ver Carrinho
                </a>
            </div>
        </div>
    </nav>

    <!-- Modal para Localizar Ordens -->
    <div class="modal fade" id="orderLocationModal" tabindex="-1" aria-labelledby="orderLocationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderLocationModalLabel">Localizações das Ordens</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="datetime-picker">Selecione a Data e Hora:</label>
                    <input type="datetime-local" id="datetime-picker" class="form-control mb-3">
                    <button id="search-locations-btn" class="btn btn-primary w-100">Buscar Localizações</button>
                    <div id="order-location-results" class="mt-3">
                        <!-- As localizações das ordens serão exibidas aqui -->
                        <p id="no-results-msg" class="text-danger" style="display:none;">Nenhuma ordem encontrada para a data e hora selecionadas.</p>
                        <ul id="location-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Login e Registro -->
    <div class="modal fade" id="loginRegisterModal" tabindex="-1" aria-labelledby="loginRegisterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginRegisterModalLabel">Login ou Cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Registrar</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!-- Formulário de Login -->
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form action="/login" method="POST">
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Senha</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </form>
                        </div>

                        <!-- Formulário de Registro -->
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form action="/register" method="POST">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">Primeiro Nome</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Sobrenome</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Senha</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Telefone</label>
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Endereço</label>
                                    <input type="text" class="form-control" id="address" name="address">
                                </div>
                                <div class="mb-3">
                                    <label for="dob" class="form-label">Data de Nascimento</label>
                                    <input type="date" class="form-control" id="dob" name="dob" required>
                                </div>
                                <div class="mb-3">
                                    <label for="role" class="form-label">Selecione o Papel</label>
                                    <select class="form-select" id="role" name="role" required>
                                        <option value="customer">Cliente</option>
                                        <option value="manager">Gerente</option>
                                        <option value="warehouse manager">Gerente de Armazém</option>
                                        <option value="delivery order manager">Gerente de Pedidos de Entrega</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para exibir as localizações das ordens -->
    <div class="modal fade" id="orderLocationModal" tabindex="-1" aria-labelledby="orderLocationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderLocationModalLabel">Localizações das Ordens</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulário para selecionar a data e hora -->
                    <form method="GET" id="locationForm">
                        <div class="mb-3">
                            <label for="selected_datetime" class="form-label">Selecione a Data e Hora:</label>
                            <input type="text" name="selected_datetime" id="selected_datetime" class="form-control" placeholder="YYYY-MM-DD HH:MM:SS" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Procurar Orders</button>
                    </form>

                    <!-- Exibição das ordens encontradas -->
                    <div id="orderLocationsTable" style="display:none;">
                        <h3>Ordens na Data e Hora: <span id="selectedDatetime"></span></h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Código do Pedido</th>
                                    <th scope="col">Data do Pedido</th>
                                    <th scope="col">Localização</th>
                                    <th scope="col">Data e Hora da Localização</th>
                                </tr>
                            </thead>
                            <tbody id="orderLocationsBody">
                                <!-- As ordens serão adicionadas aqui dinamicamente -->
                            </tbody>
                        </table>
                    </div>

                    <div id="noOrdersMessage" style="display:none;">
                        <p>Nenhuma ordem encontrada para a data e hora selecionadas.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para selecionar a quantidade -->
    <div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="quantityModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="quantityModalLabel">Escolha a Quantidade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="quantityForm">
                        <input type="number" id="quantity" name="quantity" min="1" value="1" class="form-control" required>
                        <input type="hidden" id="product_id" name="product_id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="addToCartBtn">Adicionar ao Carrinho</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Exibição dos produtos -->
    <h1 class="product-title">Produtos</h1>
    <div class="row products-row">
        {% for product in products %}
            <div class="col-md-3">
                <div class="product-card">
                    <img src="{{ product['productImage'] | default('image_url_default') }}" class="card-img-top" alt="{{ product['productName'] }}"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ product['productName'] }}</h5>
                        <p class="card-text">€{{ product['price'] }}</p>
                        <!-- Botão de adicionar ao carrinho -->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#quantityModal" data-product-id="{{ product['productCode'] }}">
                            Adicionar ao Carrinho
                        </button>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#productDetailsModal" data-product-id="{{ product['productCode'] }}">
                            Detalhes
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Paginador para navegar entre as páginas -->
    <div class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            {% if page_number > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number - 1 }}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}
            
            <!-- Exibe o número da página atual e as opções de navegação -->
            <li class="page-item active">
                <span class="page-link">{{ page_number }}</span>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ page_number + 1 }}" aria-label="Próxima">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    
    <!-- Modal do Carrinho -->
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">Carrinho de Compras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="cartItems">
                        <p>Carregando seu carrinho...</p>
                    </div>
                    <div id="cartTotal">
                        <p>Total: €0.00</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Finalizar Compra</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Detalhes do Produto -->
    <div class="modal fade" id="productDetailsModal" tabindex="-1" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productDetailsModalLabel">Detalhes do Produto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Informações do Produto -->
                    <p><strong>Nome:</strong> <span id="product-name"></span></p>
                    <p><strong>Preço:</strong> €<span id="product-price"></span></p>
                    <p><strong>Fornecedor:</strong> <span id="product-supplier"></span></p>
                    <p><strong>Quantidade em Estoque:</strong> <span id="product-stock"></span></p>

                    <h6>Atributos Físicos</h6>
                    <ul id="product-physical-attributes"></ul>

                    <h6>Atributos Técnicos</h6>
                    <ul id="product-technical-attributes"></ul>

                    <h6>Avaliações</h6>
                    <ul id="product-reviews">
                        <li>Sem avaliações disponíveis.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">Carrinho de Compras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if cart_items %}
                        <div class="cart-items">
                            {% for item in cart_items %}
                                <div class="row align-items-center mb-3">
                                    <div class="col-md-4">
                                        <strong>{{ item.productName }}</strong>
                                    </div>
                                    <div class="col-md-2">
                                        €{{ item.price }}
                                    </div>
                                    <div class="col-md-2">
                                        Quantidade: {{ item.quantity }}
                                    </div>
                                    <div class="col-md-2">
                                        Total: €{{ item.total_price }}
                                    </div>
                                    <div class="col-md-2 text-end">
                                        <!-- Botão para remover 1 unidade -->
                                        <form action="/remove_from_cart" method="POST" style="display:inline;">
                                            <input type="hidden" name="product_code" value="{{ item.productCode }}">
                                            <input type="hidden" name="quantity" value="1">
                                            <button type="submit" class="btn btn-danger btn-sm">Remover 1</button>
                                        </form>
                                        <!-- Botão para remover tudo -->
                                        <form action="/remove_from_cart" method="POST" style="display:inline;">
                                            <input type="hidden" name="product_code" value="{{ item.productCode }}">
                                            <input type="hidden" name="quantity" value="{{ item.quantity }}">
                                            <button type="submit" class="btn btn-danger btn-sm">Remover Tudo</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="text-end">
                            <strong>Total do Carrinho: €{{ total_price }}</strong>
                        </div>
                    {% else %}
                        <p>Seu carrinho está vazio.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Finalizar Compra</button>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS e Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script>
        // Passar os dados do produto para o modal
        document.getElementById('productDetailsModal').addEventListener('show.bs.modal', function(event) {
            const button = event.relatedTarget; // Botão que ativou o modal
            const productId = button.getAttribute('data-product-id'); // ID do produto
            
            // Requisição para obter detalhes do produto (Oracle)
            fetch(`/product_details/${productId}`)
                .then(response => response.json())
                .then(data => {
                    // Preencher os dados do produto no modal
                    document.getElementById('product-name').textContent = data.productName;
                    document.getElementById('product-price').textContent = data.price;
                    document.getElementById('product-supplier').textContent = data.supplier;
                    document.getElementById('product-stock').textContent = data.stock;

                    // Preencher atributos físicos
                    let physicalAttributesList = document.getElementById('product-physical-attributes');
                    physicalAttributesList.innerHTML = `
                        <li><strong>Cor:</strong> ${data.physicalAttributes.color}</li>
                        <li><strong>Peso:</strong> ${data.physicalAttributes.weight} kg</li>
                        <li><strong>Altura:</strong> ${data.physicalAttributes.height} cm</li>
                        <li><strong>Largura:</strong> ${data.physicalAttributes.width} cm</li>
                        <li><strong>Profundidade:</strong> ${data.physicalAttributes.depth} cm</li>
                    `;

                    // Preencher atributos técnicos
                    let technicalAttributesList = document.getElementById('product-technical-attributes');
                    technicalAttributesList.innerHTML = `
                        <li><strong>Processador:</strong> ${data.technicalAttributes.processor}</li>
                        <li><strong>RAM:</strong> ${data.technicalAttributes.ram}</li>
                        <li><strong>Armazenamento:</strong> ${data.technicalAttributes.storage}</li>
                        <li><strong>Vida da Bateria:</strong> ${data.technicalAttributes.batteryLife}</li>
                        <li><strong>Garantia:</strong> ${data.technicalAttributes.warranty}</li>
                    `;

                    // Requisição para obter avaliações do produto (MongoDB)
                    fetch(`/get_reviews/${productId}`)
                        .then(response => response.json())
                        .then(reviewData => {
                            let reviewsList = document.getElementById('product-reviews');
                            reviewsList.innerHTML = ''; // Limpa a lista antes de adicionar novos dados

                            if (reviewData.reviews && reviewData.reviews.length > 0) {
                                reviewData.reviews.forEach(review => {
                                    const reviewItem = document.createElement('li');
                                    reviewItem.textContent = `Nota: ${review.rating} - Comentário: ${review.comment} - Cliente: ${review.user.name}`;
                                    reviewsList.appendChild(reviewItem);
                                });
                            } else {
                                reviewsList.innerHTML = '<li>Não há avaliações para este produto.</li>';
                            }
                        });
                })
                .catch(err => {
                    console.error('Erro ao carregar detalhes do produto:', err);
                });
        });

        document.getElementById('search-locations-btn').addEventListener('click', function() {
            const selectedDatetime = document.getElementById('datetime-picker').value;

            if (!selectedDatetime) {
                alert("Por favor, selecione uma data e hora.");
                return;
            }

            // Converter o valor de "datetime-local" para o formato adequado (YYYY-MM-DD HH:mm:ss)
            const formattedDatetime = selectedDatetime.replace('T', ' ');

            // Enviar para o backend via fetch
            fetch(`/order_locations?selected_datetime=${formattedDatetime}`)
                .then(response => response.json())
                .then(data => {
                    const resultsContainer = document.getElementById('order-location-results');
                    const noResultsMsg = document.getElementById('no-results-msg');
                    const locationList = document.getElementById('location-list');

                    // Limpar a lista antes de adicionar novos resultados
                    locationList.innerHTML = '';
                    noResultsMsg.style.display = 'none';

                    if (data.orders && data.orders.length > 0) {
                        // Se houver ordens, exibe-as
                        data.orders.forEach(order => {
                            const listItem = document.createElement('li');
                            listItem.textContent = `Order Code: ${order.orderCode}, Location: ${order.location}, Date: ${order.timestamp}`;
                            locationList.appendChild(listItem);
                        });
                    } else {
                        // Se não houver resultados
                        noResultsMsg.style.display = 'block';
                    }
                })
                .catch(err => {
                    console.error("Erro ao buscar as localizações das ordens:", err);
                    alert("Erro ao buscar as localizações das ordens.");
                });
        });

        document.getElementById('locationForm').addEventListener('submit', function (event) {
            event.preventDefault();  // Previne o envio do formulário

            const selectedDatetime = document.getElementById('selected_datetime').value;

            // Exibe a data e hora no modal
            document.getElementById('selectedDatetime').innerText = selectedDatetime;

            // Faz a requisição ao servidor para obter as ordens para a data selecionada
            fetch(`/order_locations?selected_datetime=${selectedDatetime}`)
                .then(response => response.json())
                .then(data => {
                    if (data.orders && data.orders.length > 0) {
                        document.getElementById('orderLocationsTable').style.display = 'block';
                        document.getElementById('noOrdersMessage').style.display = 'none';
                        
                        // Preenche a tabela com as ordens
                        const orderLocationsBody = document.getElementById('orderLocationsBody');
                        orderLocationsBody.innerHTML = '';  // Limpa as ordens anteriores
                        data.orders.forEach(order => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${order.orderCode}</td>
                                <td>${order.orderDate}</td>
                                <td>${order.location}</td>
                                <td>${order.timestamp}</td>
                            `;
                            orderLocationsBody.appendChild(row);
                        });
                    } else {
                        document.getElementById('orderLocationsTable').style.display = 'none';
                        document.getElementById('noOrdersMessage').style.display = 'block';
                    }
                })
                .catch(error => {
                    console.error('Erro ao buscar ordens:', error);
                });
        });

        document.addEventListener('DOMContentLoaded', function () {
            let selectedProductId = null;

            // Abre o modal e armazena o ID do produto no botão
            const addToCartButtons = document.querySelectorAll('[data-bs-target="#quantityModal"]');
            addToCartButtons.forEach(button => {
                button.addEventListener('click', function() {
                    selectedProductId = button.getAttribute('data-product-id');
                    // Defina o ID do produto no campo oculto do formulário no modal
                    document.getElementById('product_id').value = selectedProductId;
                });
            });

            // Submissão do formulário do modal
            const quantityForm = document.getElementById('quantityForm');
            quantityForm.addEventListener('submit', function (event) {
                event.preventDefault();  // Previne o comportamento padrão do formulário

                const quantity = document.getElementById('quantity').value;

                // Verifique se a quantidade é válida
                if (quantity < 1) {
                    alert("Por favor, selecione uma quantidade válida.");
                    return;
                }

                // Enviar os dados para o backend
                fetch('/add_to_cart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        product_id: productId,
                        quantity: quantity
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Produto adicionado ao carrinho!');
                        // Fechar o modal após a adição ao carrinho
                        const modal = bootstrap.Modal.getInstance(document.getElementById('quantityModal'));
                        modal.hide();
                        location.reload();  // Atualiza a página para refletir as mudanças no carrinho
                    } else {
                        alert('Erro ao adicionar ao carrinho: ' + data.message);  // Exibe mensagem detalhada
                    }
                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Erro ao adicionar ao carrinho.');
                });
            });
        });
        
        const addToCartButtons = document.querySelectorAll('.btn-success');
        addToCartButtons.forEach(button => {
            button.addEventListener('click', function() {
                // Pega o ID do produto
                const productId = this.getAttribute('data-product-id');
                
                // Define o ID do produto no campo oculto do formulário no modal
                document.getElementById('product_id').value = productId;
            });
        });
        document.getElementById('cartModal').addEventListener('show.bs.modal', function () {
            // Fazer a requisição para obter os dados do carrinho
            fetch('/cart_data')  // Modifique esta URL conforme a sua rota
                .then(response => response.json())
                .then(data => {
                    // Preencher os itens do carrinho no modal
                    let cartItems = data.items;
                    let cartTotal = data.total_amount;

                    let cartItemsContainer = document.getElementById('cartItems');
                    cartItemsContainer.innerHTML = "";  // Limpa os itens anteriores

                    if (cartItems.length === 0) {
                        cartItemsContainer.innerHTML = "<p>Seu carrinho está vazio.</p>";
                    } else {
                        cartItems.forEach(item => {
                            let itemHTML = `
                                <div class="row">
                                    <div class="col-md-8">${item.productName}</div>
                                    <div class="col-md-2">€${item.price}</div>
                                    <div class="col-md-2">${item.quantity}</div>
                                </div>
                            `;
                            cartItemsContainer.innerHTML += itemHTML;
                        });
                    }

                    // Atualizar o total do carrinho
                    let totalHTML = `<p>Total: €${cartTotal}</p>`;
                    document.getElementById('cartTotal').innerHTML = totalHTML;
                })
                .catch(error => {
                    console.error('Erro ao carregar carrinho:', error);
                });
        });


        // Quando o botão de adicionar no modal for clicado
        document.getElementById('addToCartBtn').addEventListener('click', function() {
            const productId = document.getElementById('product_id').value;
            const quantity = document.getElementById('quantity').value;

            console.log("Produto ID:", productId);  // Confirmação dos dados
            console.log("Quantidade:", quantity);

            // Verifique se a quantidade é válida
            if (quantity < 1) {
                alert("Por favor, selecione uma quantidade válida.");
                return;
            }

            // Enviar os dados para o backend
            fetch('/add_to_cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    product_id: productId,
                    quantity: quantity
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Produto adicionado ao carrinho!');
                    // Fechar o modal após a adição ao carrinho
                    const modal = bootstrap.Modal.getInstance(document.getElementById('quantityModal'));
                    modal.hide();
                    location.reload();  // Atualiza a página para refletir as mudanças no carrinho
                } else {
                    alert('Erro ao adicionar ao carrinho: ' + data.message);  // Exibe mensagem detalhada
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao adicionar ao carrinho.');
            });
        });
    </script>            
</body>
</html>
